<footer class="footer">
  <div class="divflex">
    <section class="footer-section">
      <section>
        <img class="logo" src="/images/logo.png" title="logo" alt="logo" />
        <address class="address">
          <li>Ul.Makedonija bb</li>
          <li>1000,Skopje</li>
          <li>techsphere&#64;gmail.com</li>
        </address>
        <span class="social-links">
          <h2>Follow Us</h2>
          <div>
            <a href="https://www.facebook.com/" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </div>
          <div>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
          <div>
            <a href="https://www.linkedin.com/" target="_blank">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </span>
      </section>
      <section class="infoone">
        <menu>
          <h2>Support</h2>
          <li>
            <a routerLink="/contact">Contact</a>
          </li>
          <li>
            <a routerLink="/help-centar">Help Center</a>
          </li>
          <li>
            <a routerLink="/professional-services">Professional Services</a>
          </li>
        </menu>
      </section>
      <section class="infotwoo">
        <menu>
          <h2>Company</h2>
          <li>
            <a routerLink="/about">About Us</a>
          </li>
          <li>
            <a routerLink="/careers">Careers</a>
          </li>
          <li>
            <a>Resources</a>
          </li>
        </menu>
      </section>
    </section>
  </div>
  <section class="infothree">
    <li>
      <a routerLink="/privacy-policy"> Terms of use</a>
    </li>
    <li>
      <a routerLink="/privacy-policy"> Privacy Notice</a>
    </li>
    <li>
      <a routerLink="/privacy-policy"> Cookie Policy</a>
    </li>
    <li>
      <a routerLink="/faq">FAQ</a>
    </li>
  </section>
  <section class="footer-botom">
    Copyright &copy; 2024 - All Rights Reserved - TECH Sphere
  </section>
</footer>
