<header class="Header">
  <div class="logo-div" routerLink="/">
    <img src="/images/logo.png" />
  </div>
  <div class="desktop_menu" [class.mobile_menu]="menuValue">
    <nav class="Navbar">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Posts</a>
        </li>
        @if(currentUser()){
        <li>
          <a routerLink="/add-post" routerLinkActive="active">Add post</a>
        </li>
        }
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>

        @if(currentUser()){ @if(!currentUser().isSubscribed){
        <li>
          <a (click)="onSubscribeClick('subscribe')">Subscribe</a>
        </li>
        } @else {
        <li>
          <a (click)="onSubscribeClick('unsubscribe')">Unsubscribe</a>
        </li>
        }
        <li>
          <a routerLink="/user-details" routerLinkActive="active"><i class="fa-solid fa-user"></i> {{
            currentUser()?.username }}</a>
        </li>
        } @else {
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        }
        <li routerLinkActive="active" class="theme-icon" (click)="onToogleClick()">
          @if(toogleTheme()){
          <i class="fa-regular fa-lightbulb"></i>
          } @else {
          <i class="fa-solid fa-lightbulb"></i>
          }
        </li>
      </ul>
    </nav>
  </div>
  <div class="icon_container">
    <div class="menu-icon" (click)="openMenu()">
      <i class="{{ menu_icon }}"></i>
    </div>
  </div>
</header>