.job-listings {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    color: var(--font-color);
    margin-bottom: 5rem;
    font-size: 32px;
  }

  .job {
    width: 1300px;
    background: var(--translucent-color);
    border-radius: 8px;
    margin-bottom: 2rem;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .job-image {
      border-radius: 8px;
      margin-bottom: 1rem;
    }

    h3 {
      color: var(--font-color);
      margin: 0.5rem 0;
    }

    strong {
      color: var(--font-color);
    }

    p {
      color: var(--font-color);
      margin: 0.5rem 0;
    }

    button {
      background: var(--background-color-button);
      border: none;
      color: var(--color-font);
      padding: 0.5rem 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: var(--background-color-hover);
      }
    }
  }
}
