<div class="privacy-page">
  <h1>Privacy Policy</h1>
  <p>Last updated: November 2, 2024</p>

  <h2>Introduction</h2>
  <p>
    Your privacy is important to us. This privacy policy outlines the types of
    personal information we collect, how we use it, and your rights regarding
    your information.
  </p>

  <h2>Information We Collect</h2>
  <p>We may collect the following types of information:</p>
  <ul>
    <li>Personal Information: Name, email address, etc.</li>
    <li>Usage Data: Information on how you use our site.</li>
    <li>Cookies: Data stored on your device to enhance your experience.</li>
  </ul>

  <h2>How We Use Your Information</h2>
  <p>We use your information for the following purposes:</p>
  <ul>
    <li>To provide and maintain our website.</li>
    <li>To notify you about changes to our services.</li>
    <li>
      To allow you to participate in interactive features when you choose to do
      so.
    </li>
  </ul>

  <h2>Data Protection Rights</h2>
  <p>You have the following data protection rights:</p>
  <ul>
    <li>The right to access your personal data.</li>
    <li>The right to rectify inaccurate data.</li>
    <li>The right to request deletion of your personal data.</li>
  </ul>

  <h2>Changes to This Privacy Policy</h2>
  <p>
    We may update our Privacy Policy from time to time. We will notify you of
    any changes by posting the new Privacy Policy on this page.
  </p>

  <h2>Contact Us</h2>
  <p>If you have any questions about this Privacy Policy, please contact us:</p>
  <ul>
    <li>
      Email: <a href="mailto:techsphere@gmail.com">techsphere&#64;gmail.com</a>
    </li>
  </ul>
</div>
