button {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--translucent-color);
  color: var(--color-font);
  background-color: var(--background-color-button);
  min-width: 150px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  &:hover {
    background-color: var(--background-color-hover);
    border: 1px solid var(--translucent-color);
    transform: translateY(-2px);
  }
}
