.home-page {
  display: grid;
  grid-template-columns: 75% 25%;
}

.search-filters-container {
  display: flex;
  justify-content: space-between;
}

.home-post-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 0 0 160px;
  gap: 20px;
}

.post-list-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.home-ads-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  padding-bottom: 50px;

  img {
    width: 250px;
  }
}

.search-form {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: 0px;
}

.search-wrapper {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--font-search-icon);
}

.search-input {
  width: 450px;
  height: 35px;
  transition: width 0.4s ease-in-out;
  padding: 20px 30px 20px 35px;
  border: 2px solid var(--translucent-color);
  border-radius: 8px;
  background-color: var(--search-input);
  color: var(--font-search-text);
}

.search-input:focus {
  width: 900px;
  outline: none;
  color: var(--font-search-text);
  border: 2px solid var(--translucent-color);
}
