<section class="AboutPage">
  <div class="about">
    <h1>About Us</h1>

    <div class="about-info">
      <div class="about-img">
        <img src="/images/only logo.png" alt="Logo" />
      </div>
      <div class="about-text-p">
        <p>
          Welcome to TECH Sphere Blog your go-to destination for all things
          tech! We are a passionate team of tech enthusiasts dedicated to
          bringing you the latest news, in-depth reviews, and insightful
          analysis of the ever-evolving world of technology. Our team is
          composed of experienced tech writers, analysts, and enthusiasts who
          share a deep passion for technology. With diverse backgrounds and
          expertise, we bring a balanced perspective to our content, ensuring it
          is both accurate and insightful. At TECH Sphere Blog, our mission is
          to empower our readers with knowledge and insights into the tech
          landscape. Whether you're a seasoned tech guru or a curious beginner,
          we aim to provide content that is both informative and engaging,
          helping you stay ahead in a fast-paced digital world.
        </p>

      </div>
    </div>
  </div>
  <section class="team">
    <h1>Meet Our Team</h1>
    <div class="team-cards">
      <div class="card">
        <div class="card-img">
          <img src="/images/team-images/member-two.jpg" />
        </div>
        <div class="card-info">
          <h2 class="card-name">Miller</h2>
          <p class="card-role">Co-Founder</p>
          <p class="card-email">miller&#64;gmail.com</p>
          <p class="contact_buttom">
            <app-button text="Contact" class="button" />
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="/images/team-images/member-one.jpg" />
        </div>
        <div class="card-info">
          <h2 class="card-name">Jane</h2>
          <p class="card-role">CEO and Founder</p>
          <p class="card-email">jane&#64;gmail.com</p>
          <p class="contact_buttom">
            <app-button text="Contact" class="button" />
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="/images/team-images/member-two.jpg" />
        </div>
        <div class="card-info">
          <h2 class="card-name">Joe</h2>
          <p class="card-role">Co-Founder</p>
          <p class="card-email">joe&#64;gmail.com</p>
          <p class="contact_buttom">
            <app-button text="Contact" class="button" />
          </p>
        </div>
      </div>
    </div>
  </section>
</section>