.container-post {
  display: flex;
  justify-content: center;
  gap: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.item-post {
  width: 700px;
  height: 500px;
  background-color: var(--translucent-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-3px);
  }
}

.image-post {
  height: 300px;
  width: 100%;
}

.description-post {
  padding: 25px;
  font-size: 15px;
  line-height: 1, 2;

  h2,
  p {
    margin: 0;
    color: var(--font-color);
  }
}

.description-post-title-text-container {
  height: 95px;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  p {
    margin: 0;
  }
  samp {
    font-size: 15px;
    color: var(--raiting-star);
  }
}

.post-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 15px;
}

.tag-span {
  color: var(--font-blue);
}

.paragraph {
  display: -webkit-box;
  white-space: wrap;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

//RESPONSE POST-CARD
@media (max-width: 440px) {
  .description-post {
    padding: 25px;

    h2,
    p {
      font-size: 16px;
    }
  }

  .item-post {
    width: 380px;
    height: 440px;
  }

  .image-post {
    height: 200px;
    width: 100%;
  }

  .post-info {
    p {
      font-size: 13px;
    }
    samp {
      font-size: 13px;
    }
  }

  .post-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 30px;
  }
}

@media (max-width: 550px) {
  .description-post {
    padding: 25px;

    h2,
    p {
      font-size: 16px;
    }
  }

  .item-post {
    width: 500px;
    height: 440px;
  }

  .image-post {
    height: 200px;
    width: 100%;
  }

  .post-info {
    p {
      font-size: 13px;
    }
    samp {
      font-size: 13px;
    }
  }

  .post-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 30px;
  }
}
