<div class="filters-container">
  <select
    name="posts-filter-menu"
    class="posts-filter-menu"
    [(ngModel)]="selectFilterValue"
  >
    <option value="" selected disabled>Select:</option>
    <option value="date">Date</option>
    <option value="month">Month</option>
  </select>
  @if(selectFilterValue() === "date"){
  <select
    name="posts-filter-menu"
    class="posts-filter-menu"
    [(ngModel)]="selectDateFilterValue"
  >
    <option value="null" selected disabled>Select:</option>
    <option value="ASC">Newest</option>
    <option value="DESC">Oldest</option>
  </select>
  } @else if (selectFilterValue() === "month") {
  <select
    name="posts-filter-menu"
    class="posts-filter-menu"
    [(ngModel)]="selectMonthFilterValue"
  >
    <option value="" selected disabled>Select:</option>
    <option value="1">01</option>
    <option value="2">02</option>
    <option value="3">03</option>
    <option value="4">04</option>
    <option value="5">05</option>
    <option value="6">06</option>
    <option value="7">07</option>
    <option value="8">08</option>
    <option value="9">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  }
  <button class="button" (click)="onFilterClick()">Filter</button>
  <button class="button" (click)="onResetClick()">
    <i class="fa-solid fa-arrows-rotate"></i>
  </button>
</div>
