<form
  class="filters-container"
  [formGroup]="filterForm"
  (ngSubmit)="onFilterClick()"
>
  <select
    name="posts-filter-menu"
    class="posts-filter-menu"
    formControlName="mainFilter"
  >
    <option value="" selected disabled>Select filter:</option>
    <option value="date">Date</option>
    <option value="month">Month</option>
    @if(currentUser()){
    <option value="myPosts">My Posts</option>
    }
  </select>
  @if(filterForm.get("mainFilter").value === "date"){
  <select
    name="posts-filter-menu"
    class="posts-filter-menu"
    formControlName="dateFilter"
  >
    <option value="null" selected disabled>Select type:</option>
    <option value="ASC">Newest</option>
    <option value="DESC">Oldest</option>
  </select>
  } @else if (filterForm.get("mainFilter").value === "month") {
  <select
    name="posts-filter-menu"
    class="posts-filter-menu"
    formControlName="monthFilter"
  >
    <option value="" selected disabled>Select month:</option>
    <option value="1">01</option>
    <option value="2">02</option>
    <option value="3">03</option>
    <option value="4">04</option>
    <option value="5">05</option>
    <option value="6">06</option>
    <option value="7">07</option>
    <option value="8">08</option>
    <option value="9">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  }
  <button class="button" type="submit">Filter</button>
  <button class="button" (click)="onResetClick()">
    <i class="fa-solid fa-arrows-rotate"></i>
  </button>
</form>
