.comments-list {
  list-style: none;
  padding: 0;

  ul {
    padding: 0;
    list-style: none;
    display: grid;
    gap: 15px;
  }

  .comment-item {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;

    em {
      text-align: center;
    }

    .comment-info {
      display: flex;
      justify-content: space-between;
      color: var(--font-white);
    }

    .info-date {
      font-style: italic;
      font-size: 12px;
      text-align: right;
      padding-top: 10px;
      color: var(--font-white);
    }
  }
}
