.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;

  .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    background-color: var(--translucent-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 3px;
  }

  .contact-flexbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .contact.form {
      h3 {
        font-size: 24px;
        margin-bottom: 15px;
        color: var(--font-white);
      }

      .formBox {
        .row50 {
          display: flex;
          gap: 20px;
        }

        .row100 {
          width: 100%;
          margin-top: 15px;
        }

        .inputBox {
          width: 100%;
          display: flex;
          flex-direction: column;

          span {
            font-size: 14px;
            padding-top: 15px;
            margin-bottom: 5px;
            color: var(--font-white);
          }

          input,
          textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 13px;
          }

          textarea {
            height: 100px;
            resize: none;
          }

          p {
            font-size: 12px;
            color: #999;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .info-map-flexbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .contact.info {
      h3 {
        font-size: 24px;
        margin-bottom: 15px;
        color: var(--font-white);
      }

      .infoBox {
        div {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          span {
            margin-right: 10px;
            color: var(--font-white);
          }

          .adress-p {
            margin: 0;
            color: var(--font-white);
          }

          a {
            color: var(--font-blue);
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .contact.map {
      iframe {
        width: 100%;
        height: 300px;
        border: none;
      }
    }
  }
}
